{% extends 'layouts/base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header mb-1">
          <div style="width: 100%; display: inline-block;">
            <div style="float: left;">
              <h5 class="card-category">Rémi Dandois QA</h5>
              <h3 class="card-title">Repositories</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="typography">
            <!-- INTRO -->
            <div id="intro" style="margin-bottom: 25px;">
              <h1 class="blue"><span style="color: #D346B1">Functional documentation of the Cypress runner</span>
              </h1>
              <div style="color: #003366ff; margin-bottom: 25px;">
                <p style="color: #003366ff; font-size: 1.2em; font-weight: normal;">
                  <img src="{{url_for('static', filename= 'assets/img/github-qa.png')}}"
                    style="width: 1.2em; margin-right: 15px;">Github Repository: <a
                    href="https://github.com/remidqa/cy-runner" class="link">remidqa/cy-runner</a>
                </p>
                <p style="color: #003366ff; font-size: 1.2em; font-weight: normal;">
                  <img src="{{url_for('static', filename= 'assets/img/book-qa.png')}}"
                    style="width: 1.2em; margin-right: 15px;">Technical docs: <a
                    href="https://github.com/remidqa/cy-runner/blob/main/README.md" class="link">README.md</a>
                </p>
              </div>
              <p class="p" style="text-align: justify;">
                This application is a Cypress tests runner wrapped in an API. It can be used to trigger tests and and manage reports
              </p>
              {% set routes = [
              {
              "title": "Tests routes",
              "paths": [
              {
              "title": "Get tests list by app",
              "method": "get",
              "path": "/tests/app/:app",
              "reponseContainreId": "tests-get-tests"
              },
              {
              "title": "Get test file",
              "method": "get",
              "path": "/tests/app/:app/test/:test",
              "reponseContainreId": "tests-get-test-file"
              }
              ]
              },
              {
              "title": "Run routes",
              "paths": [
              {
              "title": "Request test(s) execution",
              "method": "post",
              "path": "/run",
              "reponseContainreId": "run",
              "requestBody": { "app": "${app}", "env": "${env}" }
              }
              ]
              },
              {
              "title": "Reports routes",
              "paths": [
              {
              "title": "Get a test report",
              "method": "get",
              "path": "/report/folder/:folder/report_name/:report_name",
              "reponseContainreId": "reports-get-test-report"
              },
              {
              "title": "Delete a test report",
              "method": "delete",
              "path": "/report/folder/:folder/report_name/:report_name",
              "reponseContainreId": "reports-delete-test-report"
              }
              ]
              }
              ] %}
              <div style="margin-top: 25px;">
                {% for route in routes %}
                {% set route_index = loop.index %}
                <a href="{{ '#part-' + loop.index|string }}" class="menu-anchor">
                  <p style="color: #003366ff;">{{ route.title }}</p>
                </a>
                {% for path in route.paths %}
                <a href="{{ '#part-' + route_index|string + '-' + loop.index|string }}" class="menu-anchor">
                  <p style="color: #003366ff; padding-left: 25px;">{{ path.title }}</p>
                </a>
                {% endfor %}
                {% endfor %}
              </div>
            </div>
            {% for route in routes %}
            {% set route_index = loop.index %}
            <div>
              <div
                style="border-bottom: #222f61 solid 1px; font-weight: 500; font-size: x-large; margin: 25px 0px 15px 0px;">
                <span class="blue" id="{{ 'part-' + loop.index|string }}">{{ route.title }}</span>
              </div>
              {% for path in route.paths %}
              <div>
                <p class="subtitle" id="{{ 'part-' + route_index|string + '-' + loop.index|string }}">
                  {{ path.title }}
                </p>
                <div class="method-path-body-container">
                  <div class="method-path-container">
                    <div class="{{ 'method-span ' + path.method + '-method p' }}" style="float: left; padding: 5px;">{{
                      path.method|upper }}</div>
                    <div style="background-color: #f5f6fa; border-radius: 0 5px 5px 0; float: left; padding: 5px;"
                      class="p path-container">
                      {{ path.path }}</div>
                  </div>
                  {% if path.requestBody %}
                  <div class="body-container">
                    <span class="p">With body : <span style="font-weight: 300">{ "app": "${app}", "env": "${env}"
                        }</span></span>
                  </div>
                  {% endif %}
                </div>
                <div style="padding: 5px;">
                  <p>
                    Expected response:
                  </p>
                  <pre><code class="json" id="{{ path.reponseContainreId }}"></code></pre>
                </div>
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
  let testsGetTestsJson = {
    "tests": [
      "Navigation",
      "SanityCheck",
      "..."
    ]
  }
  let testsGetTestFileJson = {
    "test": "it(\"Check Main Page\", () => {\n    cy.visit('http://front.remidqa.com')\n    cy.get(\"[cy-id='anchor-dashboard']\").click()\n    cy.get([cy-id='dashboard-container']).should('be.visible')\n})"
  }
  let runJson = {
    "status": 200,
    "msg": "Cypresss execution ended for app '${app}'. Json reports available with names ['${reportNameForTests#1}', '${reportNameForTests#1}', '...'] in folder '${generatedFolderName}'",
    "infos": {
      "app": "${app}",
      "env": "${env}",
      "reportsFolder": "${generatedFolderName}",
      "reports": [
        "${reportNameForTests#1}",
        "${reportNameForTests#1}"
      ]
    }
  }
  let reportsGetTestReportJson = {
    "Navigation": {
      "status": "success",
      "report": "${full_mochawsome .json report for 'Navigation.cy.js' test file}"
    },
    "SanityCheck": {
      "status": "success",
      "report": "${full_mochawsome .json report for 'SanityCheck.cy.js' test file}"
    },
    "...": "..."
  }
  let reportsDeleteTestReportJson = {
    "status": 200,
    "msg": "report '${report_name}' succesfully deleted"
  }
  document.getElementById('tests-get-tests').textContent = JSON.stringify(testsGetTestsJson, null, 2)
  document.getElementById('tests-get-test-file').textContent = JSON.stringify(testsGetTestFileJson, null, 2)
  document.getElementById('run').textContent = JSON.stringify(runJson, null, 2)
  document.getElementById('reports-get-test-report').textContent = JSON.stringify(reportsGetTestReportJson, null, 2)
  document.getElementById('reports-delete-test-report').textContent = JSON.stringify(reportsDeleteTestReportJson, null, 2)
</script>
<style>
  .link {
    color: #D346B1
  }

  .link:hover {
    text-decoration: underline;
  }

  .p {
    font-size: 1.2em;
    font-weight: 400;
    color: #003366ff !important
  }

  .subtitle {
    margin-top: 25px;
    color: #D346B1 !important;
    font-size: 1.45em !important;
    font-weight: 500 !important;
    margin-bottom: 15px !important
  }

  .method-span {
    border-radius: 5px 0 0 5px;
  }

  .get-method {
    background-color: #eaf2ec;
  }

  .post-method {
    background-color: #f9f0ea;
  }

  .put-method {
    background-color: #e8f4f4;
  }

  .delete-method {
    background-color: #fce8e8;
  }

  .li {
    font-weight: 300 !important;
  }

  .menu-anchor {
    text-decoration: none;
  }

  .menu-anchor:hover {
    text-decoration: underline;
    text-decoration-color: #003366ff
  }

  .method-path-body-container {
    display: flex;
    margin: 15px 0px;
  }

  .method-path-container {
    float: left;
  }

  .body-container {
    float: left;
    padding: 5px;
  }

  @media screen and (max-width: 768px) {
    .link {
      display: block;
    }

    .method-path-body-container {
      margin: 15px 0px;
      display: block;
    }

    .method-path-container {
      width: 100%;
    }

    .body-container {
      width: 100%
    }
    .path-container{
      display: block;
    }
  }
</style>
{% endblock content %}