<footer class="footer">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a href="mailto:remi.dandois@gmail.com" target="_blank" class="nav-link">
                    remi.dandois@gmail.com
                </a>
            </li>
            <li class="nav-item">
                <a href="www.linkedin.com/in/rémi-dandois-673995a3" target="_blank" class="nav-link">
                    LinkedIn
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.github.com" target="_blank" class="nav-link">
                    GitHub
                </a>
            </li>
        </ul>
        <div class="copyright">
            Rémi Dandois - 2023
            <!-- <a href="https://bit.ly/3fKQZaL" target="_blank">Rémi Dandois</a> -->
        </div>
    </div>
</footer>