<ul class="nav">
  <li class="{% if 'resume' in segment %} active {% endif %}">
    <a href="{{url_for('pages_resume')}}">
      <i class="tim-icons icon-single-02"></i>
      <p>Resume</p>
    </a>
  </li>
  <li class="{% if 'presentation-qa-framework' in segment %} active {% endif %}">
    <a href="{{url_for('presentation_qa_framework')}}">
      <i class="tim-icons icon-molecule-40"></i>
      <p>Framework presentation</p>
    </a>
  </li>
  <li class="{% if 'dashboard' in segment %} active {% endif %}">
    <a href="{{url_for('pages_dashboard')}}">
      <i class="tim-icons icon-chart-bar-32"></i>
      <p>Dashboard Quality</p>
    </a>
  </li>
  <li>
    <a data-toggle="collapse" href="#repositories">
      <i class="tim-icons icon-app"></i>
      <p>
        Repositories
        <b class="caret"></b>
      </p>
    </a>
    <div class="collapse {% if 'repository' in parent %}show{% endif %}" id="repositories">
      <ul class="nav">
        <li class="{% if 'api-qa' in segment %}active{% endif %}">
          <a href="{{url_for('api_qa')}}">
            <span class="sidebar-mini-icon">F</span>
            <span class="sidebar-normal"> QA Framework</span>
          </a>
        </li>
        <li class="{% if 'cy-runner' in segment %}active{% endif %}">
          <a href="{{url_for('cy_runner')}}">
            <span class="sidebar-mini-icon">F</span>
            <span class="sidebar-normal"> Cypress runner</span>
          </a>
        </li>
        <li class="{% if 'newman-runner' in segment %}active{% endif %}">
          <a href="{{url_for('newman_runner')}}">
            <span class="sidebar-mini-icon">F</span>
            <span class="sidebar-normal"> Newman runnner</span>
          </a>
        </li>
        <li class="{% if 'data-api' in segment %}active{% endif %}">
          <a href="{{url_for('data_api')}}">
            <span class="sidebar-mini-icon">F</span>
            <span class="sidebar-normal"> Data API</span>
          </a>
        </li>
        <li class="{% if 'front-qa' in segment %}active{% endif %}">
          <a href="{{url_for('front_qa')}}">
            <span class="sidebar-mini-icon">F</span>
            <span class="sidebar-normal"> Front site</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="{% if 'live-demo' in segment %} active {% endif %}">
    <a href="{{url_for('live_demo')}}">
      <i class="tim-icons icon-triangle-right-17"></i>
      <p>Live demo</p>
    </a>
  </li>

</ul>
<style>
  .sidebar ul li p {
    font-family: "Poppins";
  }
</style>