<ul class="nav">
  <li class="{% if 'resume' in segment %} active {% endif %}">
    <a href="{{url_for('pages_resume')}}">
      <i class="tim-icons icon-single-02"></i>
      <p>Resume</p>
    </a>
  </li>
  <li class="{% if 'api-qa-presentation' in segment %} active {% endif %}">
    <a href="{{url_for('qa_framework')}}">
      <i class="tim-icons icon-molecule-40"></i>
      <p>QA Framework</p>
    </a>
  </li>
  <li class="{% if 'dashboard' in segment %} active {% endif %}">
    <a href="{{url_for('pages_dashboard')}}">
      <i class="tim-icons icon-chart-bar-32"></i>
      <p>Dashboard Quality</p>
    </a>
  </li>
  <li>
    <a data-toggle="collapse" href="#documentation">
      <i class="tim-icons icon-paper"></i>
      <p>
        Documentation
        <b class="caret"></b>
      </p>
    </a>
    <div class="collapse {% if 'documentation' in parent %}show{% endif %}" id="documentation">
      <ul class="nav">
        <li class="{% if 'functional' in segment %}active{% endif %}">
          <a href="{{url_for('doc_functional')}}">
            <span class="sidebar-mini-icon">F</span>
            <span class="sidebar-normal"> Functional docs</span>
          </a>
        </li>
        <li class="{% if 'technical' in segment %}active{% endif %}">
          <a href="{{url_for('doc_technical')}}">
            <span class="sidebar-mini-icon">A</span>
            <span class="sidebar-normal"> Technical docs </span>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="{% if 'live-demo' in segment %} active {% endif %}">
    <a href="{{url_for('live_demo')}}">
      <i class="tim-icons icon-triangle-right-17"></i>
      <p>Live demo</p>
    </a>
  </li>
  
</ul>