{% extends 'layouts/base.html' %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header ">
                    <h5 class="card-category">Rémi Dandois QA</h5>
                    <h3 class="card-title">Dashboard</h3>
                </div>
                <div class="card-body">
                    <div class="dashboard-container">
                        <div class="chart-section">
                            <div class="chart-section-title">
                                <span class="blue">Metrics for the 'full-stack' app</span>
                            </div>
                            <div class="chart-container">
                                <div id="bar-chart-1"></div>
                            </div>
                            <div class="chart-container">
                                <div id="line-chart-1"></div>
                            </div>
                        </div>
                        <div class="chart-section">
                            <div class="chart-section-title">
                                <span class="blue">Metrics for the 'data-api' app</span>
                            </div>
                            <div class="chart-container">
                                <div id="bar-chart-2"></div>
                            </div>
                            <div class="chart-container">
                                <div id="line-chart-2"></div>
                            </div>
                        </div>
                        <div class="chart-section">
                            <div class="chart-section-title">
                                <span class="blue">Metrics for the 'front-qa' app</span>
                            </div>
                            <div class="chart-container">
                                <div id="bar-chart-3"></div>
                            </div>
                            <div class="chart-container">
                                <div id="line-chart-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<!-- <script src="{{url_for('static', filename= 'assets/js/chartjs-tooltip-plugin.js')}}"></script> -->
<script>
    addEventListener("DOMContentLoaded", (event) => {
        function getTime(testrun_title) {
            let date = testrun_title.match(/(\d{4})_(\d{2})_(\d{2})-[a-zA-Z]+-(\d{2}):(\d{2}):(\d{2}).(\d{2})/);
            let [fullMatch, year, month, day, hour, minute, second, milliseconds] = date;
            return (parseInt(year.toString() + month.toString() + day.toString() + hour.toString() + minute.toString() + second.toString() + milliseconds.toString()))
        }
        let APIdata = JSON.parse('{{ metrics|tojson|safe }}');
        function generateBarhart(apps) {
            let labels = []
            let serie1 = []
            let series = [
                { 'name': 'success', data: [], stack: 'data' },
                { 'name': 'failures', data: [], stack: 'data' }
            ]
            let colors = []
            let mergeArray = []
            for (a in apps) {
                for (var key in APIdata[apps[a]]) {
                    if (APIdata[apps[a]].hasOwnProperty(key)) {
                        mergeArray.push(APIdata[apps[a]][key])
                        mergeArray[mergeArray.length - 1].testrun_title = key
                        mergeArray[mergeArray.length - 1]['testiny.io_testrun_id'] = APIdata[apps[a]][key].metadata['testiny.io_testrun_id']
                        mergeArray[mergeArray.length - 1]['testiny.io_project_id'] = APIdata[apps[a]][key].metadata['testiny.io_project_id']
                    }
                }
            }
            mergeArray.sort((a, b) => {
                if (getTime(a.testrun_title) > getTime(b.testrun_title)) { return 1 }
                else if (getTime(a.testrun_title) < getTime(b.testrun_title)) { return -1 }
            })
            mergeArray = mergeArray.slice(-10)
            mergeArray.forEach((elem, i) => {
                labels.push(i)
                serie1.push(elem.summary.timings.duration)
                series[0].data.push({
                    y: (elem.summary.tests.success / elem.summary.tests.total) * 100,
                    events: {
                        click: function () {
                            window.open(`https://app.testiny.io/p/${elem['testiny.io_project_id']}/testruns/tr/${elem['testiny.io_testrun_id']}`, '_blank');
                        }
                    }
                })
                series[1].data.push({
                    y: 100 - (elem.summary.tests.success / elem.summary.tests.total) * 100,
                    events: {
                        click: function () {
                            window.open(`https://app.testiny.io/p/${elem['testiny.io_project_id']}/testruns/tr/${elem['testiny.io_testrun_id']}`, '_blank');
                        }
                    }
                })
                colors.push(elem.summary.tests.total !== elem.summary.tests.success ? '#ef8181' : '#92fd92')
            })
            console.log(series)

            return options = {
                chart: {
                    type: 'column'
                },
                title: {
                    text: `Last non-regression executions for '${apps[0]}'`
                },
                xAxis: {
                    categories: labels
                },
                yAxis: {
                    min: 0,
                    max: 100,
                    title: null, //{text: 'Total'},
                    stackLabels: {
                        enabled: false,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    },
                    labels: {
                        enabled: false // Disable yAxis labels
                    }
                },
                tooltip: {
                    formatter: function () {
                        return '' +
                            '<b>' + mergeArray[this.key].testrun_title + '</b><br/>' +
                            'Value: ' + Math.trunc(this.y) + '%';
                    }
                },
                legend: {
                    reversed: true
                },
                plotOptions: {
                    series: {
                        stacking: 'normal'
                    }
                },
                colors: ['#92fd92', '#ef8181'],
                series: series
            };
        }

        function generateLineChart(apps) {
            let labels = []
            let serie1 = []
            let series = [
                { 'name': 'Duration (s)', data: [], yAxis: 0 },
                { 'name': 'Avarage Response Time (s)', data: [], yAxis: 1 }
            ]
            let colors = []
            let mergeArray = []
            for (a in apps) {
                for (var key in APIdata[apps[a]]) {
                    if (APIdata[apps[a]].hasOwnProperty(key)) {
                        mergeArray.push(APIdata[apps[a]][key])
                        mergeArray[mergeArray.length - 1].testrun_title = key
                        mergeArray[mergeArray.length - 1]['testiny.io_testrun_id'] = APIdata[apps[a]][key].metadata['testiny.io_testrun_id']
                        mergeArray[mergeArray.length - 1]['testiny.io_project_id'] = APIdata[apps[a]][key].metadata['testiny.io_project_id']
                    }
                }
            }
            mergeArray.sort((a, b) => {
                if (getTime(a.testrun_title) > getTime(b.testrun_title)) { return 1 }
                else if (getTime(a.testrun_title) < getTime(b.testrun_title)) { return -1 }
            })
            mergeArray = mergeArray.slice(-10)
            mergeArray.forEach((elem, i) => {
                labels.push(i)
                series[0].data.push({
                    y: elem.summary.timings.duration / 1000,
                    url: `https://app.testiny.io/p/${elem['testiny.io_project_id']}/testruns/tr/${elem['testiny.io_testrun_id']}`
                })
                series[1].data.push({
                    y: elem.summary.timings.responseAverage / 1000,
                    url: `https://app.testiny.io/p/${elem['testiny.io_project_id']}/testruns/tr/${elem['testiny.io_testrun_id']}`
                })
            })

            return options = {
                chart: {
                    type: 'line'
                },
                title: {
                    text: `Tests duration for '${apps[0]}'`
                },
                xAxis: {
                    categories: labels
                },
                yAxis: [
                    {
                        title: {
                            enabled: true,
                            text: 'Duration (s)'
                        }
                    },
                    {
                        title: {
                            enabled: true,
                            text: 'Avarage Response Time (s)'
                        },
                        opposite: true
                    }
                ],
                tooltip: {
                    formatter: function () {
                        return '' +
                            '<b>' + mergeArray[this.key].testrun_title + '</b><br/>' +
                            'Value: ' + Math.trunc(this.y * 100) / 100 + 's';
                    }
                },
                plotOptions: {
                    series: {
                        point: {
                            events: {
                                click: function () {
                                    // Define the URL you want to open
                                    var url = 'https://example.com';

                                    // Open the URL in a new tab/window
                                    window.open(this.options.url, '_blank');
                                }
                            }
                        }
                    }
                },
                series: series

            };
        }


        Highcharts.chart('bar-chart-1', generateBarhart(['full-stack', 'full-stack-failure']));
        Highcharts.chart('line-chart-1', generateLineChart(['full-stack', 'full-stack-failure']));
        Highcharts.chart('bar-chart-2', generateBarhart(['data-api', 'data-api-failure']));
        Highcharts.chart('line-chart-2', generateLineChart(['data-api', 'data-api-failure']));
        Highcharts.chart('bar-chart-3', generateBarhart(['front-qa', 'front-qa-failure']));
        Highcharts.chart('line-chart-3', generateLineChart(['front-qa', 'front-qa-failure']));
        //Highcharts.chart('my-chart4', generateHighchart(['full-stack', 'full-stack-failure']));

        function openLink(url) {
            window.open(url, '_blank');
        }
    });
</script>
<style>
    .chart-container {
        width: 50%;
        float: left;
        padding: 0px 1%;
    }

    .chart-section {
        display: flow-root;
        margin-bottom: 25px;
    }

    .chart-section-title {
        border-bottom: #222f61 solid 1px;
        font-weight: 500;
        font-size: x-large;
        margin-bottom: 15px;
        font-family: Poppins;
        text-align: left;
    }

    .dashboard-container {
        padding: 0px 15px;
    }

    @media screen and (max-width: 767px) {
        .chart-container {
            float: none;
            /* Remove the float property for screens smaller than 768px */
            width: 100%;
        }

        .dashboard-container {
            padding: 0px;
        }
    }
</style>
{% endblock content %}