{% extends 'layouts/base.html' %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="card-body" style="background:url(/static/assets/img/landinqpage3.png)">

        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  resizeBody = function(){
    let sidebar = document.getElementsByClassName('sidebar')[0]
    let cardBody = document.getElementsByClassName('card-body')[0]
    cardBody.style.height = `${sidebar.offsetHeight}px`
  }
  window.addEventListener("load", (event) => { resizeBody() });
  window.addEventListener("resize", (event) => { resizeBody() });
</script>
{% endblock content %}