{% extends 'layouts/base.html' %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div id="landing" style="background:url(/static/assets/img/landingpage10.png); display: inline-table; background-size: cover;">
          <div style="width: 100%; height: inherit; display: table-cell; vertical-align: middle; text-align: center;">
            <div style="text-align: center; max-width: 50vw; display: inline-block; background: rgba(255, 255, 255, 0.6); padding: 20px; border-radius: 5px;">
            
              <!-- <img src="{{url_for('static', filename= 'assets/img/illustration.png')}}" style="max-height: 50vh;"> -->
              <p class="pink" style="margin-bottom: 50px; font-size: xx-large; font-weight: bolder; line-height: initial; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                Welcome! I'am Remi Dandois, a QA Engineer specialised in automation and technical resolutions
              </p>
              <div style="width: 70%; float: left;">
                <div style="text-align: justify;">
                  <p class="pink" style="margin-bottom: 25px; font-size: large;">
                    I am pasionate with digital environments and made it my profession <span class="blue">since 2016</span>.
                  </p>
                  <p class="pink" style="margin-bottom: 25px; font-size: large;">
                    QA practices have so much more to offer than automated functional tests.
                  
                    That's why I sharpened my skills to be able to produce content about <span class="blue">all kind of tests</span> (APi, Unit Tests, load/charge tests, security tests,...).
                  
                    Alongside the implementation of optimized and unified <span class="blue">alartings, monitorings and tests strategies</span> across teams.
                  </p>
                  <p class="pink" style="margin-bottom: 25px; font-size: large;"> 
                    To do so I, develop tools able to <span class="blue">translate a papersheet quality procedure into a real executable user story</span> on those tools.
                  </p>
                  <p class="pink" style="margin-bottom: 25px; font-size: large;">
                    <button class="pink-btn">Tool presentation</button>
                    <span class="pink"> or </span>
                    <button class="blue-btn">My Resume</button></p>
                </div>
              </div>
              <div style="width: 30%; float: right;">
                <img src="{{url_for('static', filename= 'assets/img/remid6.png')}}" style="width: 100%; padding-left: 15px;"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<script>
  resizeBody = function () {
    let sidebar = document.getElementsByClassName('sidebar')[0]
    let cardBody = document.getElementById('landing')
    cardBody.style.height = `${sidebar.offsetHeight}px`
  }
  window.addEventListener("load", (event) => { resizeBody() });
  window.addEventListener("resize", (event) => { resizeBody() });
</script>
<style>
  #landing {
    border-radius: 5px;
  }
  button {
    color: #ffffff;
    font-size: 19px;
    border-radius: 10px;
    padding: 15px 15px;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
  }

  button:hover {
    background-color: #ffffff;
  }

  .blue-btn {
    background-color: #003366ff;
    border: 0px solid #003366ff;
  }

  .blue-btn:hover {
    color: #003366ff;
  }

  .pink-btn {
    background-color: #bf41aa;
    border: 0px solid #bf41aa;
  }

  .pink-btn:hover {
    color: #bf41aa;
  }
</style>
{% endblock content %}